@{ Layout = null; }
@model Common.DTOs.DTO_Category
@{
    foreach (Common.DTOs.DTO_Category C in ViewBag.TableList)
    {
        <div class="dataDiv" style="display: none" data-id="@C.ID" data-name="@C.Name"></div>
    }
}

<button class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#AddModal">
    <i class="fas fa-plus mt-2"></i> Agregar Categoría
</button>

<table id="table" data-classes="table table-hover table-borderless"></table>

@Scripts.Render("~/Vendor/Js")

<script>

    function operateFormatter(value, row, index) {
        return [
            '<a class="remove btn btn-danger text-ligth shadow" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row))
        },
        'click .remove': function (e, value, row, index) {
            var r = confirm("Estas seguro que deseas eliminar esta categoría?");
            if (r == true) {
                $.ajax({
                    url: "@Url.Action("Delete","Category")?ID=" + row.ID,
                    success() {
                        location.reload();
                    }
                })
            }
        }
    }

    var dat = [];
    $('.dataDiv').each(function () {
        var dd = {}
        dd.ID = $(this).data("id");
        dd.Name = $(this).data("name");
        dat.push(dd)
    })
    $('#table').bootstrapTable({
        pagination: true,
        search: true,
        columns: [{
            field: 'ID',
            title: 'ID'
        }, {
            field: 'Name',
            title: 'Nombre'
        },{
          field: 'operate',
          title: '',
          align: 'right',
          clickToSelect: false,
          events: window.operateEvents,
          formatter: operateFormatter
        }],
        data: dat
    })

</script>
