<div class="container mt-4">
    <div class="row">
        @{
            if (ViewBag.OrdersCount > 0)
            {
                foreach (Common.DTOs.DTO_Order O in ViewBag.Orders)
                {
                    <div class="col-lg-12 col-md-12 mb-2 my-3 OrderCard">
                        <div class="card shadow">
                            <div class="card-body">

                                <div class="d-flex flex-column flex-md-row justify-content-between border-secondary mt-2 mb-2">
                                    <div class="d-flex flex-row mx-auto mx-md-0">
                                        <h5 class="">ID de Pedido: </h5>
                                        <h5 class="text-muted ml-2">
                                            @O.ID
                                        </h5>
                                    </div>
                                    @{
                                        if (O.IsExpress)
                                        {
                                            <h5 class="text-center text-info mt-2 mt-md-0">
                                                <i class="fas fa-rocket mr-2"></i>
                                                Express
                                            </h5>
                                        }
                                    }
                                </div>
                                <hr />
                                <div class="d-flex flex-column flex-md-row justify-content-between border-secondary mt-2 mb-2">
                                    <h5 class="text-center">
                                        Fecha de Ingreso:
                                    </h5>
                                    <h5 class="text-muted text-center">
                                        @O.EntryDate
                                    </h5>
                                </div>

                                @{
                                    float width = 100 - (float.Parse(O.TimeLeft) * 100 / 24);
                                    string color = "";
                                    if (O.IsExpress)
                                    {
                                        if (width < 33)
                                        {
                                            color = "success";
                                        }
                                        else if (width >= 33 && width < 66)
                                        {
                                            color = "warning";
                                        }
                                        else if (width >= 66)
                                        {
                                            color = "danger";
                                        }


                                        if (float.Parse(O.TimeLeft) == 0)
                                        {
                                            <h3 class="text-center text-danger pb-2">
                                                <i class="fas fa-times mr-2"></i>
                                                Fuera de Tiempo
                                            </h3>

                                        }
                                        else
                                        {
                                            <div class="progress">
                                                <div class="progress-bar progress-bar bg-@color" role="progressbar" style="width: @width%" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="d-flex flex-row justify-content-between align-items-baseline border-secondary mt-3">
                                                <h5>
                                                    Tiempo restante
                                                </h5>
                                                <h5 class="text-@color">
                                                    @O.TimeLeft.Replace(".", ":")
                                                </h5>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <hr />
                                    }
                                }
                                <a class="btn btn-outline-info btn-block mt-2" href="@Url.Action("GetOrderToPrepare", "OrdersPrepare", new { _ID = O.ID })">
                                    <i class="fas fa-box-open mr-2"></i>
                                    Preparar Pedido
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="w-100">
                    <h3 class="text-center">
                        <i class="fas fa-check"></i>
                    </h3>
                </div>
                <div class="w-100">
                    <h3 class="text-center">
                        No hay pedidos para preparar.
                    </h3>
                </div>
            }
        }
    </div>
</div>