<div class="card">
    <div class="card-header">
        <div class="mt-4">
            <h3 class="text-center">
                Entre el @ViewBag.Date1 y el @ViewBag.Date2
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-center align-items-baseline">
                <h4 class="text-muted mr-2">
                    El promedio de tiempo de entrega es »
                </h4>
                <h4>
                    @ViewBag.Average
                </h4>
            </div>
        </div>
    </div>
</div>